#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cases-panel {
  width: 200px; /* Adjust width as needed */
  overflow: hidden; /* Hide overflow to prevent scrolling */
}

.cases-panel .list-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 5px; /* Adjust gap as needed */
    width: 100%;
}

.cases-panel .list-group-item {
    text-align: center;
}

.list-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 5px; /* Adjust gap as needed */
    width: 100%;
}

.list-group-item {
    text-align: center;
}

/* App.css */
.sidebar {
  background-color: #f0f0f0;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
}

.main-content {
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Reduced min width */
  grid-gap: 2px; /* Reduced gap */
    height: 100%;
    overflow-y: auto;
}

.image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-item img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover; /* Changed to cover */
    transition: transform 0.3s ease; /*Added transition*/
}

.image-item:hover img {
    transform: scale(1.1); /*Added scaling on hover*/
}
